<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {% block body %}
        <div class="container">
        <p>Hello new !</p>
        {% for produit in produits %}
        <div class="Liste">
            <h3>Nom : {{produit.nomproduits}}</h3>
            <p>Description : {{produit.description}}</p>
            <p>Nom de la categories : {{produit.idCategories.nom}}</p>
            <p>Date de l'ajout : {{produit.dateajout|date('d-m-Y')}}</p>
            <p>Prix : {{produit.prix}}</p>
            <p>Quantiter  : {{produit.quantity}}</p>
        </div>
        {% endfor %}
        {# <a href="{{ path('PRODUITS') }}">Produits</a> #}
        <button onclick="window.location.href='{{ path('PRODUITS') }}'">Produits</button>
        <div>
        {% endblock %}
        
    </body>
</html>
